# Ignora node_modules (Node.js)
node_modules/

# Ignora cache e artefatos do Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress.env.json

# Ignora configurações locais do Cypress (opcional)
cypress/.cache/
cypress/.output/

# Ignora relatórios de testes
*allure/
allure-report
allure-results